.profileHeader{
    margin-top: 10px;
    display: flex;
}

.profilePage{
    color: #081B4E;
    padding-right: 5px;

}

.profileCut{
color: #F43724;
padding-right: 5px;

}

.profileName{
    color: #777777;
    font-weight: 300;
}

.heroProfileBox{
    width: 100%;
    display: flex;
    margin: 10px 0px;
}
.heroProfileBox .heroProfileBoxImg{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.heroProfileInformation{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.heroProfileInformation p{
    text-align: left;
    padding: 0;
    margin: 0;
    color: #777777;
    font-weight: 600;
}

.heroProfileInformation h2{
    margin: 0 0 5px 0;
    font-weight: 700;

}