

body {
  margin: 0;
  font-family: 'Epilogue';
  color: #000;
}

code {
  font-family: 'Epilogue';
}

.mainContent{
  margin-left: 240px !important;
  max-width: calc(100vw - 255px);
}

.MuiTypography-root{
  font-family: 'Epilogue' !important;
}

.MuiButton-root{
  font-family: 'Epilogue' !important;
}